body{
    margin: 0%;
    font-family: monospace;
}



.header{
    width: 100%;
    position: relative;
    background-color:#e8e8e8;
    overflow: hidden;
}
.header .cmpname{
    font-size: 4vw;
    margin-left: 5%;
    line-height: 6vw;
    padding: 25px 0px;
    color:#30475e;
    font-weight: bolder;
    text-shadow: 2px 2px 3px #30475e;
}
.header .cmpname span{
    color: #e8e8e8;
    background-color: #f05454;
    text-shadow: 2px 2px 5px #30475e;
}
.header .lgbtn{
    position:absolute;
    top:35%;
    right:5%;
    color:#e8e8e8;
    background-color:#f05454;
    border-radius: 5px;
    font-weight: 900;
    font-size: 2vw;
    box-shadow: 2px 2px 5px black;
}
.header .lgbtn:hover{
    color: white;
}
.header .lgbtn a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.header .lgbtn a:link{
    color: white;   
}
.header .lgbtn a:visited{
    color: #e8e8e8;
}
.header .lgbtn a:hover{
    color: white;
}
.header .lgbtn a:active{
    color:white;
}




.navbar{
    position: sticky;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
}
.navbar li{
    float: left;
}
.navbar li a{
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bolder;
    color:#30475e;
    display: block;
    padding: 10px 20px;
}
.navbar li a:hover{
    color: #e8e8e8;
    background-color: #f05454 ;
}



.secheadings{
    margin: 0;
    color: #30475e;
    font-weight: bolder;
    text-align: center;
    /* word-spacing: 5px; */
    letter-spacing: 1vw;
    /* box-shadow: 1px 1px 10px cornflowerblue; */
    padding: 5vw 2vw;
}
.secheadings:hover{
    color: #f05454;
}



.aboutus{
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    padding: 50px 30px;
    background-color: #e8e8e8;
    color: #30475e;
    text-align: center;
}
.aboutus h1{
    padding: 30px;
    color:#f05454;
}
.aboutus h2{
    padding: 10px 50px;
}




.services{
    display: flex;
}
.services .container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    float: left;
    max-width: 20%;
    max-height: 80%;
    box-shadow: 2px 2px 5px black;    
}
.services .container:hover{
    box-shadow: 4px 4px 20px #f05454;
}
.services .container img{
    width: 100%;
    max-height: 280px;
}
.services .container div{
    padding: 2vw;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bolder;
    color:#30475e;
}


.contactus{
    box-sizing: border-box;
    width: 100%;
    height:max-content;
    background-color: #e8e8e8;
    text-align: center;
    padding: 50px 30px;
    color: #30475e;
}
.contactus:hover{
    color: #f05454;
}




.footer{
    margin: 0%;
    clear: both;
    position:relative;
    bottom: 0;
    /* background-color:cornflowerblue; */
    background-color: #e8e8e8;
    width: 100%;
    height: 50px;
}
div .copyright{
    position: absolute;
    float: left;
    /* color: white; */
    color: #30475e;
    line-height: 50px;
    vertical-align:middle;
    font-size: 1.5vw;
    margin-left: 30px;
}
.smlogo{
    float: right;
    margin-right: 30px;
}
.smlogo a i{
    margin-right: 2vw;
    /* color:white; */
    color: #30475e;
    line-height: 50px;
    font-size: 2vw;
}
.smlogo a i:hover{
    color:#f05454;
}



.tp p{
    color:#30475e;
    font-size: 1vw;
    text-align: center;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 30px;
    background-color:#e8e8e8 ;
}
.tp .red{
    color:#f05454;
}


