body{
    margin: 0%;
    font-family: monospace;
}



.header{
    width: 100%;
    overflow: hidden;
    background: rgb(232,232,232);
    background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(48,71,94,1) 100%);
}
.header div{
    width: 50%;
    display: flex;
    float: left;
}
.header .logo{
    height: 10%;
    margin: 2%;
}
.header .logo img{
    width: 50%;
}
.header .lgbtn{
    position: relative;
    float: right;
    width:max-content;
    margin: 3%;
    background-color: #f05454;
    color: #30475e;
    text-align: center;
    padding: 0.5vw ;
    font-size: 2vw;
    font-weight: bolder;
    position: relative;
    border-radius: 0.5vw;
}


/* Login pop-up */
.header .lgbtn:hover .loginpg{
    display: block;
}
.header .lgbtn .loginpg{
    position: fixed;
    top: 12%;
    right: 1%;
    display: none;
    z-index: 2;
    width:max-content;
    background-color: #30475e9f;
    border-radius: 3vw 1vw;
}
/* Login pop-up form style  */
.header .lgbtn .loginpg input{
    margin: 10%;
    margin-bottom: 0%;
    width:63%;
    height: 2.5vw;
    border: none;
    border-radius: 1vw 0.4vw;
    padding-left: 2vw;
    outline: none;
    background-color: #e8e8e888;
}
.header .lgbtn .loginpg .ipb{
    width: 40%;
    height: max-content;
    text-align: center;
    background-color: #f05454;
    color: #e8e8e8;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 1vw 0.4vw;
    border: none;
    margin-bottom: 5%;
}
.header .lgbtn .loginpg .ipb:hover {
    color: #30475e;
}
.header .lgbtn  .loginpg .ipb:focus {
    outline: none;
    background-color: #f05454;
}





.navbar{
    z-index: 1;
    position: sticky;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
}
.navbar li{
    float: left;
}
.navbar li a{
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bolder;
    color:#30475e;
    display: block;
    padding: 10px 20px;
}
.navbar li a:hover{
    color: #e8e8e8;
    background-color: #f05454 ;
}



.secheadings{
    margin: 0;
    color: #30475e;
    font-weight: bolder;
    text-align: center;
    font-size: 2.5vw;
    letter-spacing: 1vw;
    padding: 5vw 2vw;
}
.secheadings:hover{
    color: #f05454;
}



.aboutus{
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    padding: 50px 30px;
    background-color: #e8e8e852;
    color: #30475e;
    text-align: center;
}
.aboutus h1{
    font-size: 2vw;
    padding: 2%;
    color:#f05454;
}
.aboutus h2{
    font-size: 1.5vw;
    padding: 2% 10%;
}



.mysticky{
    z-index: 1;
    position: fixed;
    right:2%;
    bottom:2%;
    width:3vw;
    height: 3vw;
    background-color: #f05454;
    border-radius: 25%;
    opacity: 0.7;
}
.mysticky i{
    position: absolute;
    width:3vw;
    line-height: 3vw;
    text-align: center;
    font-size:3vw;
}
.mysticky i a:link, a:active, a:visited{
    color:#30475e77
}





.services{
    display: flex;
    background-color: #e8e8e852;
}
.services .container{
    margin: 30px auto;
    float: left;
    max-width: 20%;
    max-height: 80%;
    box-shadow: 2px 2px 5px black;   
}
.container:hover{
    box-shadow: 4px 4px 20px #f05454;
}
.services .container img{
    width: 100%;
    max-height: 280px;
}
.services .container div{
    padding: 2vw;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bolder;
    color:#30475e;
}



.contactme{
    width: 100%;
    display: flex;
}
.contactme div{
    width: 33.33%;
    float: left; 
    background: rgba(48,71,94,1);
    background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(48,71,94,1) 100%);
}
.contactme .inputcontainer{
    padding:2%;
}
.contactme .inputcontainer p{
    color: #f05454;
    text-align: center;
}
.contactme .inputcontainer input{
    display:block;
    width: 15vw;
    margin-bottom: 2%;
    height: 2vw;
    padding-left: 1vw;
    border: none;
    border-radius: 0.3vw;
    background-color: #e8e8e8c7;
}
.contactme .inputcontainer input:focus{
    outline:none;
}
.contactme .inputcontainer textarea{
    display:block;
    margin-bottom: 2%;
    width: 20vw;
    height: 5vw;
    padding-left: 1vw;
    border: none;
    border-radius: 0.3vw;
    background-color: #e8e8e8c7;
}
.contactme .inputcontainer textarea:focus{
    outline:none;
}
.contactme .inputcontainer input[type="button"]{
    width: 60px;
    height: 30px;
    color: #30475e;
    background-color: #f05454;
    padding: 0;
}
.contactme .myaddr{
    padding:5%;
    text-align: center;
    padding: 30px;
    font-size: 1.5vw;
    color: #e8e8e8c7;
}
.contactme .myaddr p{
    padding:2%;
}
.contactme .sitemap{
    padding:auto;
}
.contactme .sitemap{
    padding:2%;
}
.contactme .sitemap li{
    list-style-type: none;
    color: #e8e8e8;
    font-size: 1.5vw;
    font-weight: bolder;
    margin-bottom: 7%;
    
}
.contactme .sitemap a{
    text-decoration: none;
    color: #e8e8e8;
    background-color: #f05454;
    padding: 0.5vw 1vw;
    border-radius: 5px;
}
.contactme .sitemap a:hover{
    color: #30475e;
    box-shadow: 2px 2px 2px black;
}




.footer{
    display: flex;
    width: 100%;
    background-color: rgba(48, 71, 94, 0.950);
}
.footer .copyright{
    margin-left: 5%;
    align-self:center;
    color: #e8e8e8;
    font-size: 1vw;
}
.footer .smlogo{
    margin-right: 5%;
    margin-left: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    align-self: center;
}
.smlogo a i{
    margin-right: 2vw;
    color: #e8e8e8;
    font-size: 2.5vw;
}
.smlogo a i:hover{
    color:#f05454;
    text-shadow: 2px 2px 5px gray;
}



.tp p{
    color:#e8e8e8;
    font-size: 1vw;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(48,71,94,1) ;
    padding: 5px;
    margin: 0%;
    margin-bottom: 30px;
}
.tp .red{
    color:#f05454;
}